{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a1f3682286.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style-registration.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main-box">
        <div class="sub-main-box1">
           <div class="tick">
            <i class="fas fa-check-circle tick-icon "></i>
            <p class="info">Registration succesfull</p>
               <a href="login"> <button  >Login</button></a>
           </div>
        </div>

    </div>

</body>
</html>