# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Django Realtime  projects\EMployee_Info_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
